In [1]:
#importing dependencies

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

data collection and analysis

In [6]:
ds = pd.read_csv("diabetes.csv")

In [7]:
ds.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [8]:
ds['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [9]:
ds.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [10]:
X = ds.drop(columns = 'Outcome', axis=1)
Y = ds["Outcome"]

In [11]:
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [12]:
Y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [13]:
  #data standradization

In [14]:
 scaler = StandardScaler()

In [15]:
scaler.fit(X)

StandardScaler()

In [16]:
standradized_data = scaler.transform(X)

In [19]:
standradized_data

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [20]:
 X = standradized_data

In [21]:
Y = ds["Outcome"]

In [24]:
X_train,X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, stratify = Y, random_state = 2)

In [26]:
classifier = svm.SVC(kernel='linear')

In [27]:
classifier.fit(X_train,Y_train)

SVC(kernel='linear')

In [28]:
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train )

In [29]:
training_data_accuracy

0.7866449511400652

In [30]:
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [31]:
test_data_accuracy

0.7727272727272727

In [33]:
input_data = (1,189,60,23,846,30,0.398,59)
#input to numpy array
numpy_array = np.asarray(input_data)
#reshape for predicting
reshaped_numpy = numpy_array.reshape(1,-1)
#standradize the input data
std_data = scaler.transform(reshaped_numpy)
print(std_data)

#predict
prediction =  classifier.predict(std_data)
print(prediction)

[[-0.84488505  2.13150675 -0.47073225  0.15453319  6.65283938 -0.25289651
  -0.2231152   2.19178518]]
[1]

/Users/rishinpoolat/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [34]:
inpu_data = (1,89,66,23,94,28.1,0.167,21)
#input to numpy array
numpy_arra = np.asarray(inpu_data)
#reshape for predicting
reshaped_nump = numpy_arra.reshape(1,-1)
#standradize the input data
std_dat = scaler.transform(reshaped_nump)
print(std_dat)

#predict
prediction2 =  classifier.predict(std_dat)
print(prediction2)

[[-0.84488505 -0.99820778 -0.16054575  0.15453319  0.12330164 -0.49404308
  -0.92076261 -1.04154944]]
[0]

/Users/rishinpoolat/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [36]:
if prediction2[0]==0:
    print("not diabetic")
else :
    print("diabetic")

not diabetic